{% extends 'base.html.twig' %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('../CSS/main.css') }}" /> #}
	<link rel="stylesheet" href="{{ asset('../CSS/login.css') }}" />
{% endblock %}






{% block body %}







    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}





<div>

{# --------------logo------------ #}
	<div>
		<img class="my-1" src="{{ asset('../public/images/logo.png') }}" id="logo_login" alt="logo de la bibliothèque !"/>
	</div>
	<div class="text-align-center mb-2">
		<h1>Bienvenue sur votre page de connexion</h1>
	</div>
	{# --------------image login------------ #}
	<div class="row">

		<div class="col-6 align-items-center">
			<img class="my-2" src="{{ asset('../public/images/login-image.png') }}" id="login_image" alt="image du login"/>
		</div>

		{# --------------Formulaire------------ #}
		<div class="col-5 my-2">
			<form action="{{ path('login') }}" method="post" id="login_formulaire">

				<div class="col form-control form-control-lg border-yellow p-5 my-5 text-align-center" style="border-radius: 3em">
					<div class="mt-2 pb-3">
						<label for="username"> Votre email</label>
						<input class="form-control form-control-lg border-yellow my-4" id="username" name="_username" value="{{ last_username }}"/>
					</div>
					<div class="mt-2 pb-3">
						<label for="password">Votre mot de passe</label>
						<input class="form-control form-control-lg border-yellow my-4" type="password" id="password" name="_password"/>
					</div>

					<div class="text-align-center">
						<button class="btn btn-yellow" type="submit">Me connecter</button>
					</div>
				</div>

				
			</form>
		</div>


</div>
{% endblock %}
