{% extends 'base.html.twig' %}



{% block stylesheets %}
<link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<link href="{{ asset('../public/CSS/main.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('../public/CSS/login.css')}}">
<style>
    main {
        position: initial !important;
    }
</style>
{% endblock %}






{% block body %}

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}




<main>
    {# --------------logo------------ #}
    <div>
        <img class="my-1" src="{{ asset('../public/images/logo.png') }}" id="logo_login"
            alt="logo de la bibliothèque !" />
    </div>
    <div class="text-align-center mb-2">
        <h1>Bienvenue sur votre page de connexion</h1>
    </div>
    {# --------------image login------------ #}
    <div class="row">

        <div class="col-6 align-items-center">
            <img class="my-2" src="{{ asset('../public/images/login-image.png') }}" id="login_image"
                alt="image du login" />
        </div>

        {# --------------Formulaire------------ #}
        <div class="col-5 my-2">
            <form action="{{ path('login') }}" method="post" id="login_formulaire">

                <div class="col form-control form-control-lg border-yellow p-5 my-5 text-align-center"
                    style="border-radius: 3em">
                    <div class="mt-2 pb-3">
                        <label for="username"> Votre email</label>
                        <input class="form-control form-control-lg border-yellow my-4" id="username" name="_username"
                            value="{{ last_username }}" />
                    </div>
                    <div class="mt-2 pb-3">
                        <label for="password">Votre mot de passe</label>
                        <input class="form-control form-control-lg border-yellow my-4" type="password" id="password"
                            name="_password" />
                    </div>
                    <div class="text-align-center">
                        <button class="btn btn-yellow" type="submit" style="font-size: large;">Me connecter</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <section class="d-flex flex-row justify-content-center align-items-center">
        <h3>Première connexion?</h3>
        <a href="{{path('app_register')}}" class="mx-3 mb-2 btn btn-red" style="font-size: larger;">S'enregistrer</a>
    </section>
</main>
    {% endblock %}