{% extends 'base.html.twig' %}

{% block stylesheets %}
	{# <link rel="stylesheet" href="{{ asset('../CSS/main.css') }}" /> #}
	<link rel="stylesheet" href="{{ asset('../CSS/login.css') }}" />
{% endblock %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

	<div class="text-align-center mt-5 mb-5">
			<h1>Ajouter un utilisateur</h1>
	</div>

	<div id="separateur" class="bg-green"><div>

    {# {{form(registrationForm)}} #}

    {# This friendly message is coming from: #}
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/test-symfony/src/Controller/NomDuControleurController.php'|file_link(0) }}">src/Controller/NomDuControleurController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/test-symfony/templates/nom_du_controleur/index.html.twig'|file_link(0) }}">templates/nom_du_controleur/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}